{% extends 'main/layout.html' %}
{% load crispy_forms_filters %}
{% block title %}Reset Password Done{% endblock title %}
{% block content %}
    <br>
    <br>
    <br>
<center>
<div class="container" >

        <div class="row">
            <div class="col">
            <h2>Password reset complete</h2><hr><br>
        <div class="card col-md-6  shadow-lg" style="align-content: start;padding: 50px; border-radius: 10px">
            <p>Your password has been set.<br> You may go ahead and log in now.</p>
            <a href="{% url 'login' %}">Log In</a>

        </div>
            </div>
        </div>


</div>
</center>
{% endblock content %}