{% extends 'main/layout.html' %}
{% load crispy_forms_filters %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
    <br>
    <br>
    <br>
<center>
<div class="container" >

        <div class="row">
            <div class="col">
            <h2>RESET PASSWORD HERE!</h2><hr><br>
        <div class="card col-md-6  shadow-lg" style="align-content: start;padding: 50px; border-radius: 10px">
            <p>Forgotten your password? <br>Enter your email address below, and we’ll email instructions for setting a new one.</p>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}<br>
                <button type="submit" class="btn btn-primary">Send Email</button>
            </form>
        </div>
            </div>
        </div>


</div>
</center>
{% endblock content %}