{% extends 'main/layout.html' %}
{% load crispy_forms_filters %}
{% block title %}Reset Password Done{% endblock title %}
{% block content %}
    <br>
    <br>
    <br>
<center>
<div class="container" >

        <div class="row">
            <div class="col">
                <h2>Password reset sent</h2><hr><br>
                <div class="card col-md-6  shadow-lg" style="align-content: start;padding: 50px; border-radius: 10px">
                   <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

                </div>
            </div>
        </div>
</div>
</center>
{% endblock content %}