{% extends 'main/layout.html' %}
{% load crispy_forms_filters %}
{% block title %}Reset Password Done{% endblock title %}
{% block content %}
    <br>
    <br>
    <br>
<center>
<div class="container" >

        <div class="row">
            <div class="col">
                <h2>Enter new password</h2><hr><br>
                <div class="card col-md-6  shadow-lg" style="align-content: start;padding: 50px; border-radius: 10px">
                    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-success">Upadate Password</button>
                    </form>

                </div>
            </div>
        </div>
</div>
</center>
{% endblock content %}