{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Student- judge | {% block title %}{% endblock %}</title>


  <!-- Favicons -->
  <link href="{%  static 'img/favicon.png' %}" rel="icon">
  <link href="{%  static 'img/apple-touch-icon.png" rel="apple-touch-icon'%}">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%  static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%  static 'vendor/icofont/icofont.min.css'%}" rel="stylesheet">
  <link href="{%  static 'vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%  static 'vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{%  static 'vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{%  static 'vendor/animate.css/animate.min.css'%}" rel="stylesheet">
  <link href="{%  static 'vendor/aos/aos.css'%}" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="{%  static 'css/style.css'%}" rel="stylesheet">


</head>

<body class="bg-light">
    {% include 'main/messages.html' %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class=" logo mr-auto"><a href="{% url 'index' %}">Student Judge</a></h1>

      <nav class="navbar-dark  nav-menu d-none d-lg-block">
          
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li ><a href="{% url 'about' %}">About</a></li>
            <li ><a href="{% url 'video' %}">Video</a>
          </li>
          <li><a href="{% url 'blog' %}">Blog</a></li>

            {% if user.profile.isTeacher == 1 %}
                <li class="nav-item"><a href="{% url 'dashboard' %}">Dash-Board</a></li>
                <li class="drop-down"><a href="#"> Examination</a>
                    <ul>
                        <li><a href="{% url 'create_question' %}">Create exam</a></li>
                        <li><a href="#">Exam History</a></li>
                        <li><a href="#">Exam Results</a></li>
                    </ul>
                <li class="drop-down"><a href="#"> Hello, {{ request.user }}</a>
                <ul>
                    <li><a href={% url 'profile' %}>Profile</a></li>
                     <li><a href={% url 'change_password' %}>Change Password</a></li>
                </ul>
                <li><a href="{% url 'logout' %}">Logout</a> </li>

            {% elif user.profile.isTeacher == 0 %}
                <li class="nav-item"><a href="{% url 'dashboard' %}">Dash-Board</a></li>
                <li class="drop-down"><a href="#"> Examination</a>
                    <ul>
                        <li><a href="#">New exam</a></li>
                        <li><a href="#">Old Exam History</a></li>
                        <li><a href="#">Exam Results</a></li>
                    </ul>
                <li class="drop-down"><a href="#">Hello,  {{ request.user }}</a>
                <ul>
                    <li><a href={% url 'profile' %}>Profile</a></li>
                    <li><a href="{% url 'change_password' %}">Change Password</a></li>
                </ul>
                <li><a href="{% url 'logout' %}">Logout</a> </li>


        {% else %}
          <li><a href="{% url 'registration' %}">Registration</a></li>
          <li><a href="{% url 'login' %}">login</a></li>
        {% endif %}


        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->
    {% include 'main/messages.html' %}
<div style="padding-top: 50px">

    {% block content %}


     {% endblock %}

 </div><!-- End #main -->



  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%  static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{%  static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%  static 'vendor/jquery.easing/jquery.easing.min.js'%}"></script>
  <script src="{%  static 'vendor/waypoints/jquery.waypoints.min.js'%}"></script>
  <script src="{%  static 'vendor/counterup/counterup.min.js'%}"></script>
  <script src="{%  static 'vendor/owl.carousel/owl.carousel.min.js'%}"></script>
  <script src="{%  static 'vendor/aos/aos.js'%}"></script>


  <!-- Template Main JS File -->
  <script src="{%  static 'js/main.js'%}"></script>



</body>

</html>