
 <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
          {% for slide in slidedata %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" style="background-image: url({{ slide.image.url}})">
          <div class="carousel-container">
            <div class="carousel-caption animate__animated animate__fadeInUp">
              <h1>{{ slide.title}}</h1>
              <h2>{{ slide.description}}</h2>
            </div>
          </div>
        </div>

       {% endfor %}

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->