{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Profile{% endblock %}


{% load widget_tweaks %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h3 class="text-center text-uppercase">User Profile</h3><hr>
    </div>
    <div class="container text-center card card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        First Name:
                        <input type="text" name="fast_name" value= {{ user.first_name }} class="form-control" required>
                        Last Name:
                        <input type="text" name="last_name" value= {{ user.last_name }} class="form-control" required>
                        Username:
                        <input type="text" name="username" value= {{ user.username }} class="form-control" readonly>
                        Email:
                        <input type="text" name="email" value= {{ user.email }} class="form-control" readonly>
                        Phone:
                       <input type="tel" name="phone" placeholder="01xxxxxxxxx" class="form-control" pattern="01[0-9]{9}">
                        Address:
                        <input type="text" name="address" placeholder="Enter address within 150 words." class="form-control" >
                        Class:
                        <input type="number" name="class" placeholder="Enter class.." class="form-control" >
                        Institution:
                        <input type="text" name="institution" placeholder="Enter institution name.." class="form-control" >
                    </div>
                </div>
                    <div class="col text-center">
                        <button class="btn btn-primary center" type="submit">Update</button>
                        <button class="btn btn-danger center" ><a href="http://127.0.0.1:8000/" style="color: white">Cancel</a></button>
                   </div>
            </form>
    </div>
    <br>
{% endblock %}